<div class="menu-box" style="justify-content: space-between;">
    <button class="new-button" routerLink="new">Nuevo autor</button>
    <div>
        <button class="page-button"> < </button>
        <button class="page-button"> > </button>
    </div>
</div>

<table class="table" *ngIf="authors && !loadingData; else loading">
    <tr class="table-header">
        <th>ID</th>
        <th>Nombre</th>
        <th></th>
    </tr>
    <tr class="table-row" *ngFor="let author of authors">
        <td class="table-column" routerLink="/authors/{{ author.id }}">{{ author.id }}</td>
        <td class="table-column" routerLink="/authors/{{ author.id }}">{{ author.name }}</td>
        <td class="table-actions-column">
            <button class="table-button edit-button" routerLink="/authors/{{ author.id }}/edit">Editar</button>
            <button class="table-button delete-button" (click)="deleteAuthor(author.id)">Eliminar</button>
        </td>
    </tr>
    <tr class="table-footer">
        <td colspan="4" [formGroup]="pageForm">

            <div class="form-box">
                <label for="pageNumber">Pagina:</label>
                <input type="number" id="pageNumber" name="pageNumber" formControlName="pageNumber">
            </div>

            <div class="form-box">
                <label for="pageSize">Autores x pag.:</label>
                <select id="pageSize" name="pageSize" formControlName="pageSize">
                    <option>20</option>
                    <option>50</option>
                    <option>75</option>
                    <option>100</option>
                </select>
            </div>

            <div class="form-box">
                <label for="columnOrder">Ordenar por:</label>
                <select id="columnOrder" name="columnOrder" formControlName="columnOrder">
                    <option value="id">ID</option>
                    <option value="name">Nombre</option>
                </select>
                <select id="orderType" name="orderType" formControlName="orderType">
                    <option value="ASC">Ascendiente</option>
                    <option value="DESC">Descendiente</option>
                </select>
            </div>

        </td>
    </tr>
</table>

<ng-template #loading>
    <div class="loader"></div>
</ng-template>