<h1>{{ editMode ? 'Editar' : 'Nuevo' }} Autor</h1>
<div class="edit-box" [formGroup]="authorForm" *ngIf="enableForm; else loading">
    <div class="full-section">
        <label for="name">Nombre del autor</label>
        <input type="text" name="name" id="name" formControlName="name" required>
    </div>
    <div class="half-section">
        <label for="birth_date">Fecha de nacimiento</label>
        <input type="date" name="birth_date" id="birth_date" formControlName="birth_date" required>
    </div>
    <div class="half-section">
        <label for="country">País de origen</label>
        <input type="text" name="country" id="country" formControlName="country">
    </div>
</div>

<ng-template #loading>
    <div class="loader"></div>
</ng-template>

<div class="menu-box">
    <button class="back-button" routerLink="..">Volver</button>
    <button class="new-button" (click)="sendAuthor()" [disabled]="authorForm.valid ? false : true">{{ editMode ? 'Guardar' : 'Crear' }} autor</button>
</div>
